.App {
  text-align: center;
}


.Login {
  text-align: center;
  margin: 50px;
  justify-content: center;
  background-color: gray;
  width: 10vw;
}

.Logininput {
  
}


.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}